---
---

// add bootstrap variable settings here

@import 'bootstrap';


// add more css stuff here

body {
  font-family: 'Open Sans', 'Arial, Helvetica, sans-serif';
}

.content {
  padding: 40px 15px;
}

#header {
  background: url('/images/valleycover.jpeg') center/cover no-repeat fixed;
}

