// Add your own custom CSS here.
//@import "pygments-tomorrow";

.post-content img,
.post-excerpt-home img,
.post-nav img {
  @extend .img-rounded !optional;
}
.post-content table,
.post-excerpt-home table,
.post-nav table {
  @extend .table !optional;
  @extend .table-bordered !optional;
}

.outer-wrap {
  height: 300px;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

.wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 200px;
	height: 200px;
	margin: auto;
	transform-style: preserve-3d;
	animation: rotate 10s linear infinite;
}

.wrap div {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 2px;
	height: 2px;
	margin: auto;
	backface-visibility: hidden;
}

.wrap span {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.wrap .dot1 {transform: rotateY(0deg) rotateX(90deg) translateZ(100px);}
.wrap .dot2 {transform: rotateY(10deg) rotateX(89.5deg) translateZ(100px);}
.wrap .dot3 {transform: rotateY(20deg) rotateX(89deg) translateZ(100px);}
.wrap .dot4 {transform: rotateY(30deg) rotateX(88.5deg) translateZ(100px);}
.wrap .dot5 {transform: rotateY(40deg) rotateX(88deg) translateZ(100px);}
.wrap .dot6 {transform: rotateY(50deg) rotateX(87.5deg) translateZ(100px);}
.wrap .dot7 {transform: rotateY(60deg) rotateX(87deg) translateZ(100px);}
.wrap .dot8 {transform: rotateY(70deg) rotateX(86.5deg) translateZ(100px);}
.wrap .dot9 {transform: rotateY(80deg) rotateX(86deg) translateZ(100px);}
.wrap .dot10 {transform: rotateY(90deg) rotateX(85.5deg) translateZ(100px);}
.wrap .dot11 {transform: rotateY(100deg) rotateX(85deg) translateZ(100px);}
.wrap .dot12 {transform: rotateY(110deg) rotateX(84.5deg) translateZ(100px);}
.wrap .dot13 {transform: rotateY(120deg) rotateX(84deg) translateZ(100px);}
.wrap .dot14 {transform: rotateY(130deg) rotateX(83.5deg) translateZ(100px);}
.wrap .dot15 {transform: rotateY(140deg) rotateX(83deg) translateZ(100px);}
.wrap .dot16 {transform: rotateY(150deg) rotateX(82.5deg) translateZ(100px);}
.wrap .dot17 {transform: rotateY(160deg) rotateX(82deg) translateZ(100px);}
.wrap .dot18 {transform: rotateY(170deg) rotateX(81.5deg) translateZ(100px);}
.wrap .dot19 {transform: rotateY(180deg) rotateX(81deg) translateZ(100px);}
.wrap .dot20 {transform: rotateY(190deg) rotateX(80.5deg) translateZ(100px);}
.wrap .dot21 {transform: rotateY(200deg) rotateX(80deg) translateZ(100px);}
.wrap .dot22 {transform: rotateY(210deg) rotateX(79.5deg) translateZ(100px);}
.wrap .dot23 {transform: rotateY(220deg) rotateX(79deg) translateZ(100px);}
.wrap .dot24 {transform: rotateY(230deg) rotateX(78.5deg) translateZ(100px);}
.wrap .dot25 {transform: rotateY(240deg) rotateX(78deg) translateZ(100px);}
.wrap .dot26 {transform: rotateY(250deg) rotateX(77.5deg) translateZ(100px);}
.wrap .dot27 {transform: rotateY(260deg) rotateX(77deg) translateZ(100px);}
.wrap .dot28 {transform: rotateY(270deg) rotateX(76.5deg) translateZ(100px);}
.wrap .dot29 {transform: rotateY(280deg) rotateX(76deg) translateZ(100px);}
.wrap .dot30 {transform: rotateY(290deg) rotateX(75.5deg) translateZ(100px);}
.wrap .dot31 {transform: rotateY(300deg) rotateX(75deg) translateZ(100px);}
.wrap .dot32 {transform: rotateY(310deg) rotateX(74.5deg) translateZ(100px);}
.wrap .dot33 {transform: rotateY(320deg) rotateX(74deg) translateZ(100px);}
.wrap .dot34 {transform: rotateY(330deg) rotateX(73.5deg) translateZ(100px);}
.wrap .dot35 {transform: rotateY(340deg) rotateX(73deg) translateZ(100px);}
.wrap .dot36 {transform: rotateY(350deg) rotateX(72.5deg) translateZ(100px);}
.wrap .dot37 {transform: rotateY(360deg) rotateX(72deg) translateZ(100px);}
.wrap .dot38 {transform: rotateY(370deg) rotateX(71.5deg) translateZ(100px);}
.wrap .dot39 {transform: rotateY(380deg) rotateX(71deg) translateZ(100px);}
.wrap .dot40 {transform: rotateY(390deg) rotateX(70.5deg) translateZ(100px);}
.wrap .dot41 {transform: rotateY(400deg) rotateX(70deg) translateZ(100px);}
.wrap .dot42 {transform: rotateY(410deg) rotateX(69.5deg) translateZ(100px);}
.wrap .dot43 {transform: rotateY(420deg) rotateX(69deg) translateZ(100px);}
.wrap .dot44 {transform: rotateY(430deg) rotateX(68.5deg) translateZ(100px);}
.wrap .dot45 {transform: rotateY(440deg) rotateX(68deg) translateZ(100px);}
.wrap .dot46 {transform: rotateY(450deg) rotateX(67.5deg) translateZ(100px);}
.wrap .dot47 {transform: rotateY(460deg) rotateX(67deg) translateZ(100px);}
.wrap .dot48 {transform: rotateY(470deg) rotateX(66.5deg) translateZ(100px);}
.wrap .dot49 {transform: rotateY(480deg) rotateX(66deg) translateZ(100px);}
.wrap .dot50 {transform: rotateY(490deg) rotateX(65.5deg) translateZ(100px);}
.wrap .dot51 {transform: rotateY(500deg) rotateX(65deg) translateZ(100px);}
.wrap .dot52 {transform: rotateY(510deg) rotateX(64.5deg) translateZ(100px);}
.wrap .dot53 {transform: rotateY(520deg) rotateX(64deg) translateZ(100px);}
.wrap .dot54 {transform: rotateY(530deg) rotateX(63.5deg) translateZ(100px);}
.wrap .dot55 {transform: rotateY(540deg) rotateX(63deg) translateZ(100px);}
.wrap .dot56 {transform: rotateY(550deg) rotateX(62.5deg) translateZ(100px);}
.wrap .dot57 {transform: rotateY(560deg) rotateX(62deg) translateZ(100px);}
.wrap .dot58 {transform: rotateY(570deg) rotateX(61.5deg) translateZ(100px);}
.wrap .dot59 {transform: rotateY(580deg) rotateX(61deg) translateZ(100px);}
.wrap .dot60 {transform: rotateY(590deg) rotateX(60.5deg) translateZ(100px);}
.wrap .dot61 {transform: rotateY(600deg) rotateX(60deg) translateZ(100px);}
.wrap .dot62 {transform: rotateY(610deg) rotateX(59.5deg) translateZ(100px);}
.wrap .dot63 {transform: rotateY(620deg) rotateX(59deg) translateZ(100px);}
.wrap .dot64 {transform: rotateY(630deg) rotateX(58.5deg) translateZ(100px);}
.wrap .dot65 {transform: rotateY(640deg) rotateX(58deg) translateZ(100px);}
.wrap .dot66 {transform: rotateY(650deg) rotateX(57.5deg) translateZ(100px);}
.wrap .dot67 {transform: rotateY(660deg) rotateX(57deg) translateZ(100px);}
.wrap .dot68 {transform: rotateY(670deg) rotateX(56.5deg) translateZ(100px);}
.wrap .dot69 {transform: rotateY(680deg) rotateX(56deg) translateZ(100px);}
.wrap .dot70 {transform: rotateY(690deg) rotateX(55.5deg) translateZ(100px);}
.wrap .dot71 {transform: rotateY(700deg) rotateX(55deg) translateZ(100px);}
.wrap .dot72 {transform: rotateY(710deg) rotateX(54.5deg) translateZ(100px);}
.wrap .dot73 {transform: rotateY(720deg) rotateX(54deg) translateZ(100px);}
.wrap .dot74 {transform: rotateY(730deg) rotateX(53.5deg) translateZ(100px);}
.wrap .dot75 {transform: rotateY(740deg) rotateX(53deg) translateZ(100px);}
.wrap .dot76 {transform: rotateY(750deg) rotateX(52.5deg) translateZ(100px);}
.wrap .dot77 {transform: rotateY(760deg) rotateX(52deg) translateZ(100px);}
.wrap .dot78 {transform: rotateY(770deg) rotateX(51.5deg) translateZ(100px);}
.wrap .dot79 {transform: rotateY(780deg) rotateX(51deg) translateZ(100px);}
.wrap .dot80 {transform: rotateY(790deg) rotateX(50.5deg) translateZ(100px);}
.wrap .dot81 {transform: rotateY(800deg) rotateX(50deg) translateZ(100px);}
.wrap .dot82 {transform: rotateY(810deg) rotateX(49.5deg) translateZ(100px);}
.wrap .dot83 {transform: rotateY(820deg) rotateX(49deg) translateZ(100px);}
.wrap .dot84 {transform: rotateY(830deg) rotateX(48.5deg) translateZ(100px);}
.wrap .dot85 {transform: rotateY(840deg) rotateX(48deg) translateZ(100px);}
.wrap .dot86 {transform: rotateY(850deg) rotateX(47.5deg) translateZ(100px);}
.wrap .dot87 {transform: rotateY(860deg) rotateX(47deg) translateZ(100px);}
.wrap .dot88 {transform: rotateY(870deg) rotateX(46.5deg) translateZ(100px);}
.wrap .dot89 {transform: rotateY(880deg) rotateX(46deg) translateZ(100px);}
.wrap .dot90 {transform: rotateY(890deg) rotateX(45.5deg) translateZ(100px);}
.wrap .dot91 {transform: rotateY(900deg) rotateX(45deg) translateZ(100px);}
.wrap .dot92 {transform: rotateY(910deg) rotateX(44.5deg) translateZ(100px);}
.wrap .dot93 {transform: rotateY(920deg) rotateX(44deg) translateZ(100px);}
.wrap .dot94 {transform: rotateY(930deg) rotateX(43.5deg) translateZ(100px);}
.wrap .dot95 {transform: rotateY(940deg) rotateX(43deg) translateZ(100px);}
.wrap .dot96 {transform: rotateY(950deg) rotateX(42.5deg) translateZ(100px);}
.wrap .dot97 {transform: rotateY(960deg) rotateX(42deg) translateZ(100px);}
.wrap .dot98 {transform: rotateY(970deg) rotateX(41.5deg) translateZ(100px);}
.wrap .dot99 {transform: rotateY(980deg) rotateX(41deg) translateZ(100px);}
.wrap .dot100 {transform: rotateY(990deg) rotateX(40.5deg) translateZ(100px);}
.wrap .dot101 {transform: rotateY(1000deg) rotateX(40deg) translateZ(100px);}
.wrap .dot102 {transform: rotateY(1010deg) rotateX(39.5deg) translateZ(100px);}
.wrap .dot103 {transform: rotateY(1020deg) rotateX(39deg) translateZ(100px);}
.wrap .dot104 {transform: rotateY(1030deg) rotateX(38.5deg) translateZ(100px);}
.wrap .dot105 {transform: rotateY(1040deg) rotateX(38deg) translateZ(100px);}
.wrap .dot106 {transform: rotateY(1050deg) rotateX(37.5deg) translateZ(100px);}
.wrap .dot107 {transform: rotateY(1060deg) rotateX(37deg) translateZ(100px);}
.wrap .dot108 {transform: rotateY(1070deg) rotateX(36.5deg) translateZ(100px);}
.wrap .dot109 {transform: rotateY(1080deg) rotateX(36deg) translateZ(100px);}
.wrap .dot110 {transform: rotateY(1090deg) rotateX(35.5deg) translateZ(100px);}
.wrap .dot111 {transform: rotateY(1100deg) rotateX(35deg) translateZ(100px);}
.wrap .dot112 {transform: rotateY(1110deg) rotateX(34.5deg) translateZ(100px);}
.wrap .dot113 {transform: rotateY(1120deg) rotateX(34deg) translateZ(100px);}
.wrap .dot114 {transform: rotateY(1130deg) rotateX(33.5deg) translateZ(100px);}
.wrap .dot115 {transform: rotateY(1140deg) rotateX(33deg) translateZ(100px);}
.wrap .dot116 {transform: rotateY(1150deg) rotateX(32.5deg) translateZ(100px);}
.wrap .dot117 {transform: rotateY(1160deg) rotateX(32deg) translateZ(100px);}
.wrap .dot118 {transform: rotateY(1170deg) rotateX(31.5deg) translateZ(100px);}
.wrap .dot119 {transform: rotateY(1180deg) rotateX(31deg) translateZ(100px);}
.wrap .dot120 {transform: rotateY(1190deg) rotateX(30.5deg) translateZ(100px);}
.wrap .dot121 {transform: rotateY(1200deg) rotateX(30deg) translateZ(100px);}
.wrap .dot122 {transform: rotateY(1210deg) rotateX(29.5deg) translateZ(100px);}
.wrap .dot123 {transform: rotateY(1220deg) rotateX(29deg) translateZ(100px);}
.wrap .dot124 {transform: rotateY(1230deg) rotateX(28.5deg) translateZ(100px);}
.wrap .dot125 {transform: rotateY(1240deg) rotateX(28deg) translateZ(100px);}
.wrap .dot126 {transform: rotateY(1250deg) rotateX(27.5deg) translateZ(100px);}
.wrap .dot127 {transform: rotateY(1260deg) rotateX(27deg) translateZ(100px);}
.wrap .dot128 {transform: rotateY(1270deg) rotateX(26.5deg) translateZ(100px);}
.wrap .dot129 {transform: rotateY(1280deg) rotateX(26deg) translateZ(100px);}
.wrap .dot130 {transform: rotateY(1290deg) rotateX(25.5deg) translateZ(100px);}
.wrap .dot131 {transform: rotateY(1300deg) rotateX(25deg) translateZ(100px);}
.wrap .dot132 {transform: rotateY(1310deg) rotateX(24.5deg) translateZ(100px);}
.wrap .dot133 {transform: rotateY(1320deg) rotateX(24deg) translateZ(100px);}
.wrap .dot134 {transform: rotateY(1330deg) rotateX(23.5deg) translateZ(100px);}
.wrap .dot135 {transform: rotateY(1340deg) rotateX(23deg) translateZ(100px);}
.wrap .dot136 {transform: rotateY(1350deg) rotateX(22.5deg) translateZ(100px);}
.wrap .dot137 {transform: rotateY(1360deg) rotateX(22deg) translateZ(100px);}
.wrap .dot138 {transform: rotateY(1370deg) rotateX(21.5deg) translateZ(100px);}
.wrap .dot139 {transform: rotateY(1380deg) rotateX(21deg) translateZ(100px);}
.wrap .dot140 {transform: rotateY(1390deg) rotateX(20.5deg) translateZ(100px);}
.wrap .dot141 {transform: rotateY(1400deg) rotateX(20deg) translateZ(100px);}
.wrap .dot142 {transform: rotateY(1410deg) rotateX(19.5deg) translateZ(100px);}
.wrap .dot143 {transform: rotateY(1420deg) rotateX(19deg) translateZ(100px);}
.wrap .dot144 {transform: rotateY(1430deg) rotateX(18.5deg) translateZ(100px);}
.wrap .dot145 {transform: rotateY(1440deg) rotateX(18deg) translateZ(100px);}
.wrap .dot146 {transform: rotateY(1450deg) rotateX(17.5deg) translateZ(100px);}
.wrap .dot147 {transform: rotateY(1460deg) rotateX(17deg) translateZ(100px);}
.wrap .dot148 {transform: rotateY(1470deg) rotateX(16.5deg) translateZ(100px);}
.wrap .dot149 {transform: rotateY(1480deg) rotateX(16deg) translateZ(100px);}
.wrap .dot150 {transform: rotateY(1490deg) rotateX(15.5deg) translateZ(100px);}
.wrap .dot151 {transform: rotateY(1500deg) rotateX(15deg) translateZ(100px);}
.wrap .dot152 {transform: rotateY(1510deg) rotateX(14.5deg) translateZ(100px);}
.wrap .dot153 {transform: rotateY(1520deg) rotateX(14deg) translateZ(100px);}
.wrap .dot154 {transform: rotateY(1530deg) rotateX(13.5deg) translateZ(100px);}
.wrap .dot155 {transform: rotateY(1540deg) rotateX(13deg) translateZ(100px);}
.wrap .dot156 {transform: rotateY(1550deg) rotateX(12.5deg) translateZ(100px);}
.wrap .dot157 {transform: rotateY(1560deg) rotateX(12deg) translateZ(100px);}
.wrap .dot158 {transform: rotateY(1570deg) rotateX(11.5deg) translateZ(100px);}
.wrap .dot159 {transform: rotateY(1580deg) rotateX(11deg) translateZ(100px);}
.wrap .dot160 {transform: rotateY(1590deg) rotateX(10.5deg) translateZ(100px);}
.wrap .dot161 {transform: rotateY(1600deg) rotateX(10deg) translateZ(100px);}
.wrap .dot162 {transform: rotateY(1610deg) rotateX(9.5deg) translateZ(100px);}
.wrap .dot163 {transform: rotateY(1620deg) rotateX(9deg) translateZ(100px);}
.wrap .dot164 {transform: rotateY(1630deg) rotateX(8.5deg) translateZ(100px);}
.wrap .dot165 {transform: rotateY(1640deg) rotateX(8deg) translateZ(100px);}
.wrap .dot166 {transform: rotateY(1650deg) rotateX(7.5deg) translateZ(100px);}
.wrap .dot167 {transform: rotateY(1660deg) rotateX(7deg) translateZ(100px);}
.wrap .dot168 {transform: rotateY(1670deg) rotateX(6.5deg) translateZ(100px);}
.wrap .dot169 {transform: rotateY(1680deg) rotateX(6deg) translateZ(100px);}
.wrap .dot170 {transform: rotateY(1690deg) rotateX(5.5deg) translateZ(100px);}
.wrap .dot171 {transform: rotateY(1700deg) rotateX(5deg) translateZ(100px);}
.wrap .dot172 {transform: rotateY(1710deg) rotateX(4.5deg) translateZ(100px);}
.wrap .dot173 {transform: rotateY(1720deg) rotateX(4deg) translateZ(100px);}
.wrap .dot174 {transform: rotateY(1730deg) rotateX(3.5deg) translateZ(100px);}
.wrap .dot175 {transform: rotateY(1740deg) rotateX(3deg) translateZ(100px);}
.wrap .dot176 {transform: rotateY(1750deg) rotateX(2.5deg) translateZ(100px);}
.wrap .dot177 {transform: rotateY(1760deg) rotateX(2deg) translateZ(100px);}
.wrap .dot178 {transform: rotateY(1770deg) rotateX(1.5deg) translateZ(100px);}
.wrap .dot179 {transform: rotateY(1780deg) rotateX(1deg) translateZ(100px);}
.wrap .dot180 {transform: rotateY(1790deg) rotateX(0.5deg) translateZ(100px);}
.wrap .dot181 {transform: rotateY(1800deg) rotateX(0deg) translateZ(100px);}
.wrap .dot182 {transform: rotateY(1810deg) rotateX(-0.5deg) translateZ(100px);}
.wrap .dot183 {transform: rotateY(1820deg) rotateX(-1deg) translateZ(100px);}
.wrap .dot184 {transform: rotateY(1830deg) rotateX(-1.5deg) translateZ(100px);}
.wrap .dot185 {transform: rotateY(1840deg) rotateX(-2deg) translateZ(100px);}
.wrap .dot186 {transform: rotateY(1850deg) rotateX(-2.5deg) translateZ(100px);}
.wrap .dot187 {transform: rotateY(1860deg) rotateX(-3deg) translateZ(100px);}
.wrap .dot188 {transform: rotateY(1870deg) rotateX(-3.5deg) translateZ(100px);}
.wrap .dot189 {transform: rotateY(1880deg) rotateX(-4deg) translateZ(100px);}
.wrap .dot190 {transform: rotateY(1890deg) rotateX(-4.5deg) translateZ(100px);}
.wrap .dot191 {transform: rotateY(1900deg) rotateX(-5deg) translateZ(100px);}
.wrap .dot192 {transform: rotateY(1910deg) rotateX(-5.5deg) translateZ(100px);}
.wrap .dot193 {transform: rotateY(1920deg) rotateX(-6deg) translateZ(100px);}
.wrap .dot194 {transform: rotateY(1930deg) rotateX(-6.5deg) translateZ(100px);}
.wrap .dot195 {transform: rotateY(1940deg) rotateX(-7deg) translateZ(100px);}
.wrap .dot196 {transform: rotateY(1950deg) rotateX(-7.5deg) translateZ(100px);}
.wrap .dot197 {transform: rotateY(1960deg) rotateX(-8deg) translateZ(100px);}
.wrap .dot198 {transform: rotateY(1970deg) rotateX(-8.5deg) translateZ(100px);}
.wrap .dot199 {transform: rotateY(1980deg) rotateX(-9deg) translateZ(100px);}
.wrap .dot200 {transform: rotateY(1990deg) rotateX(-9.5deg) translateZ(100px);}
.wrap .dot201 {transform: rotateY(2000deg) rotateX(-10deg) translateZ(100px);}
.wrap .dot202 {transform: rotateY(2010deg) rotateX(-10.5deg) translateZ(100px);}
.wrap .dot203 {transform: rotateY(2020deg) rotateX(-11deg) translateZ(100px);}
.wrap .dot204 {transform: rotateY(2030deg) rotateX(-11.5deg) translateZ(100px);}
.wrap .dot205 {transform: rotateY(2040deg) rotateX(-12deg) translateZ(100px);}
.wrap .dot206 {transform: rotateY(2050deg) rotateX(-12.5deg) translateZ(100px);}
.wrap .dot207 {transform: rotateY(2060deg) rotateX(-13deg) translateZ(100px);}
.wrap .dot208 {transform: rotateY(2070deg) rotateX(-13.5deg) translateZ(100px);}
.wrap .dot209 {transform: rotateY(2080deg) rotateX(-14deg) translateZ(100px);}
.wrap .dot210 {transform: rotateY(2090deg) rotateX(-14.5deg) translateZ(100px);}
.wrap .dot211 {transform: rotateY(2100deg) rotateX(-15deg) translateZ(100px);}
.wrap .dot212 {transform: rotateY(2110deg) rotateX(-15.5deg) translateZ(100px);}
.wrap .dot213 {transform: rotateY(2120deg) rotateX(-16deg) translateZ(100px);}
.wrap .dot214 {transform: rotateY(2130deg) rotateX(-16.5deg) translateZ(100px);}
.wrap .dot215 {transform: rotateY(2140deg) rotateX(-17deg) translateZ(100px);}
.wrap .dot216 {transform: rotateY(2150deg) rotateX(-17.5deg) translateZ(100px);}
.wrap .dot217 {transform: rotateY(2160deg) rotateX(-18deg) translateZ(100px);}
.wrap .dot218 {transform: rotateY(2170deg) rotateX(-18.5deg) translateZ(100px);}
.wrap .dot219 {transform: rotateY(2180deg) rotateX(-19deg) translateZ(100px);}
.wrap .dot220 {transform: rotateY(2190deg) rotateX(-19.5deg) translateZ(100px);}
.wrap .dot221 {transform: rotateY(2200deg) rotateX(-20deg) translateZ(100px);}
.wrap .dot222 {transform: rotateY(2210deg) rotateX(-20.5deg) translateZ(100px);}
.wrap .dot223 {transform: rotateY(2220deg) rotateX(-21deg) translateZ(100px);}
.wrap .dot224 {transform: rotateY(2230deg) rotateX(-21.5deg) translateZ(100px);}
.wrap .dot225 {transform: rotateY(2240deg) rotateX(-22deg) translateZ(100px);}
.wrap .dot226 {transform: rotateY(2250deg) rotateX(-22.5deg) translateZ(100px);}
.wrap .dot227 {transform: rotateY(2260deg) rotateX(-23deg) translateZ(100px);}
.wrap .dot228 {transform: rotateY(2270deg) rotateX(-23.5deg) translateZ(100px);}
.wrap .dot229 {transform: rotateY(2280deg) rotateX(-24deg) translateZ(100px);}
.wrap .dot230 {transform: rotateY(2290deg) rotateX(-24.5deg) translateZ(100px);}
.wrap .dot231 {transform: rotateY(2300deg) rotateX(-25deg) translateZ(100px);}
.wrap .dot232 {transform: rotateY(2310deg) rotateX(-25.5deg) translateZ(100px);}
.wrap .dot233 {transform: rotateY(2320deg) rotateX(-26deg) translateZ(100px);}
.wrap .dot234 {transform: rotateY(2330deg) rotateX(-26.5deg) translateZ(100px);}
.wrap .dot235 {transform: rotateY(2340deg) rotateX(-27deg) translateZ(100px);}
.wrap .dot236 {transform: rotateY(2350deg) rotateX(-27.5deg) translateZ(100px);}
.wrap .dot237 {transform: rotateY(2360deg) rotateX(-28deg) translateZ(100px);}
.wrap .dot238 {transform: rotateY(2370deg) rotateX(-28.5deg) translateZ(100px);}
.wrap .dot239 {transform: rotateY(2380deg) rotateX(-29deg) translateZ(100px);}
.wrap .dot240 {transform: rotateY(2390deg) rotateX(-29.5deg) translateZ(100px);}
.wrap .dot241 {transform: rotateY(2400deg) rotateX(-30deg) translateZ(100px);}
.wrap .dot242 {transform: rotateY(2410deg) rotateX(-30.5deg) translateZ(100px);}
.wrap .dot243 {transform: rotateY(2420deg) rotateX(-31deg) translateZ(100px);}
.wrap .dot244 {transform: rotateY(2430deg) rotateX(-31.5deg) translateZ(100px);}
.wrap .dot245 {transform: rotateY(2440deg) rotateX(-32deg) translateZ(100px);}
.wrap .dot246 {transform: rotateY(2450deg) rotateX(-32.5deg) translateZ(100px);}
.wrap .dot247 {transform: rotateY(2460deg) rotateX(-33deg) translateZ(100px);}
.wrap .dot248 {transform: rotateY(2470deg) rotateX(-33.5deg) translateZ(100px);}
.wrap .dot249 {transform: rotateY(2480deg) rotateX(-34deg) translateZ(100px);}
.wrap .dot250 {transform: rotateY(2490deg) rotateX(-34.5deg) translateZ(100px);}
.wrap .dot251 {transform: rotateY(2500deg) rotateX(-35deg) translateZ(100px);}
.wrap .dot252 {transform: rotateY(2510deg) rotateX(-35.5deg) translateZ(100px);}
.wrap .dot253 {transform: rotateY(2520deg) rotateX(-36deg) translateZ(100px);}
.wrap .dot254 {transform: rotateY(2530deg) rotateX(-36.5deg) translateZ(100px);}
.wrap .dot255 {transform: rotateY(2540deg) rotateX(-37deg) translateZ(100px);}
.wrap .dot256 {transform: rotateY(2550deg) rotateX(-37.5deg) translateZ(100px);}
.wrap .dot257 {transform: rotateY(2560deg) rotateX(-38deg) translateZ(100px);}
.wrap .dot258 {transform: rotateY(2570deg) rotateX(-38.5deg) translateZ(100px);}
.wrap .dot259 {transform: rotateY(2580deg) rotateX(-39deg) translateZ(100px);}
.wrap .dot260 {transform: rotateY(2590deg) rotateX(-39.5deg) translateZ(100px);}
.wrap .dot261 {transform: rotateY(2600deg) rotateX(-40deg) translateZ(100px);}
.wrap .dot262 {transform: rotateY(2610deg) rotateX(-40.5deg) translateZ(100px);}
.wrap .dot263 {transform: rotateY(2620deg) rotateX(-41deg) translateZ(100px);}
.wrap .dot264 {transform: rotateY(2630deg) rotateX(-41.5deg) translateZ(100px);}
.wrap .dot265 {transform: rotateY(2640deg) rotateX(-42deg) translateZ(100px);}
.wrap .dot266 {transform: rotateY(2650deg) rotateX(-42.5deg) translateZ(100px);}
.wrap .dot267 {transform: rotateY(2660deg) rotateX(-43deg) translateZ(100px);}
.wrap .dot268 {transform: rotateY(2670deg) rotateX(-43.5deg) translateZ(100px);}
.wrap .dot269 {transform: rotateY(2680deg) rotateX(-44deg) translateZ(100px);}
.wrap .dot270 {transform: rotateY(2690deg) rotateX(-44.5deg) translateZ(100px);}
.wrap .dot271 {transform: rotateY(2700deg) rotateX(-45deg) translateZ(100px);}
.wrap .dot272 {transform: rotateY(2710deg) rotateX(-45.5deg) translateZ(100px);}
.wrap .dot273 {transform: rotateY(2720deg) rotateX(-46deg) translateZ(100px);}
.wrap .dot274 {transform: rotateY(2730deg) rotateX(-46.5deg) translateZ(100px);}
.wrap .dot275 {transform: rotateY(2740deg) rotateX(-47deg) translateZ(100px);}
.wrap .dot276 {transform: rotateY(2750deg) rotateX(-47.5deg) translateZ(100px);}
.wrap .dot277 {transform: rotateY(2760deg) rotateX(-48deg) translateZ(100px);}
.wrap .dot278 {transform: rotateY(2770deg) rotateX(-48.5deg) translateZ(100px);}
.wrap .dot279 {transform: rotateY(2780deg) rotateX(-49deg) translateZ(100px);}
.wrap .dot280 {transform: rotateY(2790deg) rotateX(-49.5deg) translateZ(100px);}
.wrap .dot281 {transform: rotateY(2800deg) rotateX(-50deg) translateZ(100px);}
.wrap .dot282 {transform: rotateY(2810deg) rotateX(-50.5deg) translateZ(100px);}
.wrap .dot283 {transform: rotateY(2820deg) rotateX(-51deg) translateZ(100px);}
.wrap .dot284 {transform: rotateY(2830deg) rotateX(-51.5deg) translateZ(100px);}
.wrap .dot285 {transform: rotateY(2840deg) rotateX(-52deg) translateZ(100px);}
.wrap .dot286 {transform: rotateY(2850deg) rotateX(-52.5deg) translateZ(100px);}
.wrap .dot287 {transform: rotateY(2860deg) rotateX(-53deg) translateZ(100px);}
.wrap .dot288 {transform: rotateY(2870deg) rotateX(-53.5deg) translateZ(100px);}
.wrap .dot289 {transform: rotateY(2880deg) rotateX(-54deg) translateZ(100px);}
.wrap .dot290 {transform: rotateY(2890deg) rotateX(-54.5deg) translateZ(100px);}
.wrap .dot291 {transform: rotateY(2900deg) rotateX(-55deg) translateZ(100px);}
.wrap .dot292 {transform: rotateY(2910deg) rotateX(-55.5deg) translateZ(100px);}
.wrap .dot293 {transform: rotateY(2920deg) rotateX(-56deg) translateZ(100px);}
.wrap .dot294 {transform: rotateY(2930deg) rotateX(-56.5deg) translateZ(100px);}
.wrap .dot295 {transform: rotateY(2940deg) rotateX(-57deg) translateZ(100px);}
.wrap .dot296 {transform: rotateY(2950deg) rotateX(-57.5deg) translateZ(100px);}
.wrap .dot297 {transform: rotateY(2960deg) rotateX(-58deg) translateZ(100px);}
.wrap .dot298 {transform: rotateY(2970deg) rotateX(-58.5deg) translateZ(100px);}
.wrap .dot299 {transform: rotateY(2980deg) rotateX(-59deg) translateZ(100px);}
.wrap .dot300 {transform: rotateY(2990deg) rotateX(-59.5deg) translateZ(100px);}
.wrap .dot301 {transform: rotateY(3000deg) rotateX(-60deg) translateZ(100px);}
.wrap .dot302 {transform: rotateY(3010deg) rotateX(-60.5deg) translateZ(100px);}
.wrap .dot303 {transform: rotateY(3020deg) rotateX(-61deg) translateZ(100px);}
.wrap .dot304 {transform: rotateY(3030deg) rotateX(-61.5deg) translateZ(100px);}
.wrap .dot305 {transform: rotateY(3040deg) rotateX(-62deg) translateZ(100px);}
.wrap .dot306 {transform: rotateY(3050deg) rotateX(-62.5deg) translateZ(100px);}
.wrap .dot307 {transform: rotateY(3060deg) rotateX(-63deg) translateZ(100px);}
.wrap .dot308 {transform: rotateY(3070deg) rotateX(-63.5deg) translateZ(100px);}
.wrap .dot309 {transform: rotateY(3080deg) rotateX(-64deg) translateZ(100px);}
.wrap .dot310 {transform: rotateY(3090deg) rotateX(-64.5deg) translateZ(100px);}
.wrap .dot311 {transform: rotateY(3100deg) rotateX(-65deg) translateZ(100px);}
.wrap .dot312 {transform: rotateY(3110deg) rotateX(-65.5deg) translateZ(100px);}
.wrap .dot313 {transform: rotateY(3120deg) rotateX(-66deg) translateZ(100px);}
.wrap .dot314 {transform: rotateY(3130deg) rotateX(-66.5deg) translateZ(100px);}
.wrap .dot315 {transform: rotateY(3140deg) rotateX(-67deg) translateZ(100px);}
.wrap .dot316 {transform: rotateY(3150deg) rotateX(-67.5deg) translateZ(100px);}
.wrap .dot317 {transform: rotateY(3160deg) rotateX(-68deg) translateZ(100px);}
.wrap .dot318 {transform: rotateY(3170deg) rotateX(-68.5deg) translateZ(100px);}
.wrap .dot319 {transform: rotateY(3180deg) rotateX(-69deg) translateZ(100px);}
.wrap .dot320 {transform: rotateY(3190deg) rotateX(-69.5deg) translateZ(100px);}
.wrap .dot321 {transform: rotateY(3200deg) rotateX(-70deg) translateZ(100px);}
.wrap .dot322 {transform: rotateY(3210deg) rotateX(-70.5deg) translateZ(100px);}
.wrap .dot323 {transform: rotateY(3220deg) rotateX(-71deg) translateZ(100px);}
.wrap .dot324 {transform: rotateY(3230deg) rotateX(-71.5deg) translateZ(100px);}
.wrap .dot325 {transform: rotateY(3240deg) rotateX(-72deg) translateZ(100px);}
.wrap .dot326 {transform: rotateY(3250deg) rotateX(-72.5deg) translateZ(100px);}
.wrap .dot327 {transform: rotateY(3260deg) rotateX(-73deg) translateZ(100px);}
.wrap .dot328 {transform: rotateY(3270deg) rotateX(-73.5deg) translateZ(100px);}
.wrap .dot329 {transform: rotateY(3280deg) rotateX(-74deg) translateZ(100px);}
.wrap .dot330 {transform: rotateY(3290deg) rotateX(-74.5deg) translateZ(100px);}
.wrap .dot331 {transform: rotateY(3300deg) rotateX(-75deg) translateZ(100px);}
.wrap .dot332 {transform: rotateY(3310deg) rotateX(-75.5deg) translateZ(100px);}
.wrap .dot333 {transform: rotateY(3320deg) rotateX(-76deg) translateZ(100px);}
.wrap .dot334 {transform: rotateY(3330deg) rotateX(-76.5deg) translateZ(100px);}
.wrap .dot335 {transform: rotateY(3340deg) rotateX(-77deg) translateZ(100px);}
.wrap .dot336 {transform: rotateY(3350deg) rotateX(-77.5deg) translateZ(100px);}
.wrap .dot337 {transform: rotateY(3360deg) rotateX(-78deg) translateZ(100px);}
.wrap .dot338 {transform: rotateY(3370deg) rotateX(-78.5deg) translateZ(100px);}
.wrap .dot339 {transform: rotateY(3380deg) rotateX(-79deg) translateZ(100px);}
.wrap .dot340 {transform: rotateY(3390deg) rotateX(-79.5deg) translateZ(100px);}
.wrap .dot341 {transform: rotateY(3400deg) rotateX(-80deg) translateZ(100px);}
.wrap .dot342 {transform: rotateY(3410deg) rotateX(-80.5deg) translateZ(100px);}
.wrap .dot343 {transform: rotateY(3420deg) rotateX(-81deg) translateZ(100px);}
.wrap .dot344 {transform: rotateY(3430deg) rotateX(-81.5deg) translateZ(100px);}
.wrap .dot345 {transform: rotateY(3440deg) rotateX(-82deg) translateZ(100px);}
.wrap .dot346 {transform: rotateY(3450deg) rotateX(-82.5deg) translateZ(100px);}
.wrap .dot347 {transform: rotateY(3460deg) rotateX(-83deg) translateZ(100px);}
.wrap .dot348 {transform: rotateY(3470deg) rotateX(-83.5deg) translateZ(100px);}
.wrap .dot349 {transform: rotateY(3480deg) rotateX(-84deg) translateZ(100px);}
.wrap .dot350 {transform: rotateY(3490deg) rotateX(-84.5deg) translateZ(100px);}
.wrap .dot351 {transform: rotateY(3500deg) rotateX(-85deg) translateZ(100px);}
.wrap .dot352 {transform: rotateY(3510deg) rotateX(-85.5deg) translateZ(100px);}
.wrap .dot353 {transform: rotateY(3520deg) rotateX(-86deg) translateZ(100px);}
.wrap .dot354 {transform: rotateY(3530deg) rotateX(-86.5deg) translateZ(100px);}
.wrap .dot355 {transform: rotateY(3540deg) rotateX(-87deg) translateZ(100px);}
.wrap .dot356 {transform: rotateY(3550deg) rotateX(-87.5deg) translateZ(100px);}
.wrap .dot357 {transform: rotateY(3560deg) rotateX(-88deg) translateZ(100px);}
.wrap .dot358 {transform: rotateY(3570deg) rotateX(-88.5deg) translateZ(100px);}
.wrap .dot359 {transform: rotateY(3580deg) rotateX(-89deg) translateZ(100px);}
.wrap .dot360 {transform: rotateY(3590deg) rotateX(-89.5deg) translateZ(100px);}
.wrap .dot361 {transform: rotateY(3600deg) rotateX(-90deg) translateZ(100px);}


@keyframes rotate {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}